@import url('../index.css');

.add-size-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.name-input {
    height: 24px;
    padding: 4px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
    /* Make the input take up available space */
}

.ok-button {
    height: 24px;
    width: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.ok-button:hover {
    background-color: #0056b3;
}

.ok-button:focus {
    outline: none;
}