.color-picker-container {
    display: flex;
    align-items: center;
    height: var(--input-height);
    width: 100px;
    gap: var(--s-gap);
    box-sizing: border-box;
}

.color-preview {
    width: var(--l-gap);
    height: var(--l-gap);
    aspect-ratio: 1 / 1;
    border: var(--border);
    border-radius: var(--border-radius);
    cursor: pointer;
    position: relative;
}

/* Hidden input that triggers the color picker */
.color-preview input[type="color"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}