html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.app-container {
  display: grid;
  grid-template-areas:
    "topbar topbar"
    "sidebar canvas";
  grid-template-columns: 150px 1fr;
  grid-template-rows: 50px 1fr;
  height: 100vh;
  overflow: hidden;
}

/* Topbar styles */
.topbar-container {
  grid-area: topbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 50px;
  background-color: var(--background-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  overflow: hidden;
  white-space: nowrap;
}

/* Inline canvas-setup and statebar */
.canvas-setup {
  display: flex;
  gap: 16px;
  align-items: center;
}

.statebar {
  display: flex;
  align-items: center;
}

/* Sidebar positioned on the left side of the screen */
.sidebar {
  grid-area: sidebar;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow-normal);
  padding: var(--s-gap);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 150px;
}

/* Canvas and toolbar container */
.main-content {
  grid-area: canvas;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: var(--secondary-color);
}

/* Canvas container */
.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Toolbar styles */
.toolbar-container {
  position: fixed;
  padding: var(--s-gap);
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--border-radius);
  z-index: 20;
  max-width: 100%;
  background-color: var(--background-color);
}