@import url('../index.css');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.canvas-container {
  background-color: var(--secondary-color);
  /* Container's background color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Adjust height as needed */
  width: 100vw;
  /* Adjust width as needed */
}

.toolbar-container,
.topbar-container {
  display: flex;
  align-items: center;
  padding: var(--s-gap) var(--m-gap);
  box-shadow: var(--box-shadow-normal);
  background-color: var(--background-color);
  z-index: 10;
}


.toolbar-container {
  position: fixed;
  bottom: var(--l-gap);
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--border-radius);
}

.topbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
}

.statebar {
  display: flex;
  justify-content: flex-end;
}

.canvas-setup {
  display: flex;
  align-items: center;
  gap: var(--m-gap);
}