:root {

  /* Colors */
  --accent-color: #d8d8d8;
  --background-color: #a9a9a9;
  --light-background-color: #bcbcbc;
  --active-color: #007bff;
  --border-color: #8a8a8a;

  /* Typography */
  --font-family: 'Inter'
    Arial,
    sans-serif;
  --line-height: 1.5;
  --s-text: 12px;
  --m-text: 16px;
  --l-text: 18px;
  --xl-text: 20px;
  --font-weight: 600;

  /* Styling options */
  --border-radius: var(--l-gap);
  --border: 1px solid var(--border-color);

  /* Spacing */
  --xs-gap: 4px;
  --s-gap: 8px;
  --m-gap: 16px;
  --l-gap: 32px;
  --xl-gap: 64px;
  --xxl-gap: calc(var(--xl-gap)*4);
  /* Inputs */
  --input-height: 24px;

  /* Icons */
  --small-icon-size: 22px;
  --normal-icon-size: 28px;

  /* Effects */
  --box-shadow-focused: 0px 4px 8px rgba(0, 0, 0, 0.3);
  --box-shadow-normal: 0px 4px 8px rgba(0, 0, 0, 0.15);
  --transition-duration: 0.5s;

}

html,
body {
  font-family: var(--font-family);
  font-size: var(--s-text);
  font-weight: var(--font-weight);
  letter-spacing: 0.125px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333333;
  background-color: var(--accent-color);
}

/* Generic declarations */

h2 {
  font-size: var(--l-text);
  font-weight: 400;
}

h3 {
  font-size: var(--s-text);
  font-weight: 400;
}

.round {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.rectangle {
  border-radius: var(--border-radius);
}

.name {
  width: 100%;
}

.large {
  width: var(--l-gap);
}

.extra-large {
  width: var(--xl-gap);
}

.extra-extra-large {
  width: calc((var(--xl-gap) * 2) + var(--m-gap));
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Specific declarations */

.app-container {
  display: flex;
  flex-direction: column;
  gap: var(--s-gap);
  margin: var(--s-gap);
}

.topbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--s-gap);
  ;
}

.topbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--l-gap);
  flex-grow: 1;
  padding: var(--m-gap);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--xl-gap);
  height: var(--xl-gap);
  aspect-ratio: 1/1;
  background-color: var(--background-color);
  border-radius: 50%;
}

.main-wrapper {
  display: grid;
  grid-template-columns: var(--xl-gap) calc((var(--xl-gap) * 3) + (calc(var(--xs-gap*2)))) 1fr;
  grid-gap: var(--s-gap);
  height: calc(100vh - var(--xl-gap) - var(--l-gap) + var(--s-gap));
}

.main-wrapper.no-sidebar {
  grid-template-columns: var(--xl-gap) 1fr;
  /* Only two columns when sidebar is hidden */
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: var(--s-gap);
}

.menubar-container {
  display: flex;
  flex-direction: column;
  gap: var(--s-gap);
  align-items: center;
  justify-content: center;
  grid-column: 1 / 2;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

.sidebar-container {
  grid-column: 2 / 3;
  display: flex;
  gap: var(--s-gap);
  padding: var(--s-gap);
  flex-direction: column;
  align-items: start;
  justify-content: start;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--s-gap);
  gap: var(--s-gap);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  overflow-y: auto;
  position: relative;
  grid-column: 3 / 4;
}

.main-wrapper.no-sidebar .canvas-container {
  grid-column: 2 / 3;
  /* Expand canvas-container to the second column when sidebar is hidden */
}

.scroll-wrapper {
  overflow: hidden;
  /* Hides the overflow, including parts of scrollbar */
  width: 100%;
  /* Match to canvas-container's width */
}

/* WebKit scrollbar styling */
.canvas-container::-webkit-scrollbar {
  height: var(--s-gap);
}

.canvas-container::-webkit-scrollbar-track {
  background: transparent;
  margin-left: 10%;
  margin-right: 10%;
}

.canvas-container::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border: var(--border);
  border-radius: var(--border-radius);
}

.stack-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--s-gap);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.inline-container,
.input-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--s-gap);
  position: relative;
}

label.unit-label {
  padding: var(--xs-gap);
  margin: 0;
  border: var(--border);
  border-radius: var(--border-radius);
}

.large-button {
  width: 18px;
  height: 18px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rebeccapurple;
}

.list-item {
  margin: var(--xs-gap) 0;
  padding: 2px;
  font-size: var(--xs-text);
}

.list-item:hover {
  color: #fff;
  background-color: var(--background-color);
  border-radius: 8px;
  cursor: pointer;
}

.dropdown {
  display: flex;
  width: calc((var(--xl-gap) * 2) + var(--m-gap));
  height: var(--input-height);
  font-size: var(--s-text);
  font-weight: var(--font-weight);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0 var(--s-gap);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  transition: box-shadow 0.2s ease;
}

.dropdown-container {
  padding: 0 var(--s-gap);
  border: var(--border);
  border-radius: 16px;
  background-color: var(--accent-color);
  overflow: hidden;
}

input,
.input {
  height: var(--input-height);
  font-size: var(--s-text);
  font-weight: var(--font-weight);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0 var(--s-gap);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  transition: box-shadow 0.2s ease;
}


/* Enhanced Inner Shadow on Focus */
input,
.input:focus {
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.25);
  outline: none;
  /* Remove default outline for a cleaner look */
}