@import url('./root.css');

.color-picker-container {
    display: flex;
    align-items: center;
    height: var(--input-height);
    width: 100px;
    gap: var(--s-gap);
    box-sizing: border-box;
}

.color-preview {
    width: var(--input-height);
    aspect-ratio: 1 / 1;
    /* Ensure it's always a square */
    border: var(--border);
    border-radius: var(--border-radius);
    cursor: pointer;
    position: relative;
}

/* Hidden input that triggers the color picker */
.color-preview input[type="color"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* Invisible but clickable */
    cursor: pointer;
}

.hex-input-container {
    height: var(--input-height);
    border: var(--border);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.hex-input {
    width: 6ch;
    /* Fits exactly 5 characters (5 digits/letters) */
    border: none;
    background-color: transparent;
    font-size: var(--s-text);
    font-weight: var(--font-weight);
    text-align: right;
}

.hex-input:focus {
    outline: none;
    border: none;
}

.tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: var(--s-gap);
    border-radius: var(--border-radius);
    font-size: var(--s-text);
    font-weight: var(--font-weight);
    white-space: nowrap;
    opacity: 0.8;
    z-index: 100;
}