@import url('./root.css');

.dropdown {
    position: absolute;
    background-color: var(--secondary-color);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-normal);
    padding: var(--s-gap);
    height: auto;
    width: calc(var(--button-widht) - (var(--s-gap) * 2));
    font-size: var(--s-text);
    font-weight: var(--font-weight);
    z-index: 100;
}

.dropdown-item {
    padding: var(--s-gap);
    cursor: pointer;
    border-radius: var(--border-radius);
}

.dropdown-item:hover {
    border: var(--border);
    box-shadow: var(--box-shadow-normal);
}