.margin-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.generic-margin-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.generic-margin-input label {
    margin-right: 10px;
}

.margin-display {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.margin-display span {
    font-size: 14px;
}

.individual-margin-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

.custom-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}