@import url('src/index.css');

.size-selector {
    position: relative;
    font-size: var(--s-text);
}

.input-row {
    display: flex;
    align-items: center;
    gap: var(--s-gap);
}

.remove-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: var(--s-text);
    font-weight: bolder;
    height: var(--input-height);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: var(--s-gap);
    box-sizing: border-box;
}

.remove-button:hover {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: red;
    color: #fff;
}

.name-input {
    width: 15ch;
    height: var(--input-height);
    padding: 0 var(--s-gap);
    border: var(--border);
    border-radius: var(--border-radius);
    font-size: var(--s-text);
    font-weight: var(--font-weight);
}

.ok-button,
.cancel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--s-gap);
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    font-size: var(--s-text);
    font-weight: var(--font-weight);
    border-radius: var(--border-radius);
    height: var(--input-height);
    width: 8ch;
}

.cancel-button:hover,
.ok-button:hover {
    border: var(--border);
    border-radius: var(--border-radius);
}

.ok-button:hover {
    background-color: var(--active-color);
    color: #fff;
}

.size-input,
.unit-dropdown {
    width: 10ch;
    height: var(--input-height);
    font-size: var(--s-text);
    font-weight: var(--font-weight);
    border: var(--border);
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

.size-dropdown {
    margin-top: var(--s-gap);
    position: absolute;
    background-color: white;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-normal);
    padding: var(--s-gap);
    height: auto;
    font-size: var(--s-text);
    font-weight: var(--font-weight);
    z-index: 100;
    box-sizing: border-box;

}

.size-dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--s-gap);
    cursor: pointer;
    border-radius: var(--border-radius);
    font-size: var(--s-text);
    white-space: nowrap;
    /* Ensure the text doesn't wrap */
}

.dropdown-item-content {
    flex-grow: 1;
    border: var(--border);
    border-color: transparent;
    border-radius: var(--border-radius);
    padding: var(--s-gap);
}

.size-dropdown-item:hover {
    border-color: var(--border-color);
    box-shadow: var(--box-shadow-normal);
    background-color: var(--active-color);
    color: #fff;
}

.dropdown-button {
    padding: var(--s-gap);
    border: var(--border);
    background-color: white;
    cursor: pointer;
    min-width: 120px;
    max-width: 100%;
    width: auto;
    border-radius: var(--border-radius);
    font-weight: var(--font-weight);
}

.tooltip {
    position: absolute;
    /* Position it relative to its parent */
    top: -30px;
    /* Adjust based on the height of the input */
    left: 0;
    /* Adjust if needed for centering */
    background-color: black;
    /* Set background to black */
    color: white;
    /* White text color for better readability */
    font-size: 12px;
    padding: var(--s-gap);
    border-radius: var(--border-radius);
    /* Rounded corners */
    z-index: 10;
    /* Ensure it appears on top of other elements */
    white-space: nowrap;
    /* Prevent the text from wrapping */
}

.tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    /* Positioned at the bottom of the tooltip */
    left: 10px;
    /* Adjust to control the position of the arrow */
    margin-left: var(--s-gap);
    border-width: var(--s-gap);
    border-style: solid;
    border-color: black transparent transparent transparent;
    /* Create the arrow */
}