@import url('../index.css');

.four-sided-input-container {
    display: flex;
    align-items: center;

}

.generic-input {
    display: flex;
    align-items: center;
}

.generic-input label {
    margin-right: 10px;
}

.margin-display {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.margin-display span {
    font-size: 14px;
}

.individual-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.input-group {
    display: flex;
    font-size: var(--s-text);
    align-items: center;
}

label {
    font-size: var(--s-text);
}

.custom-input input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
