@import url('../../index.css');

.toggle-switch {
    width: calc(var(--input-height) * 2 - var(--s-gap));
    height: calc(var(--input-height) - var(--s-gap));
    background-color: var(--backround-color);
    border-radius: var(--input-height);
    position: relative;
    cursor: grabbing;
    transition: var(--transition-duration);
    /* Add border here */
    border: 1px solid var(--accent-color);
    /* Adjust width, style, and color as needed */
}

/* The circle inside the switch */
.toggle-circle {
    width: calc(var(--input-height) - var(--s-gap) - 2px);
    height: calc(var(--input-height) - var(--s-gap) - 2px);
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    transition: left var(--transition-duration) ease;
}

.toggle-switch.toggled {
    background-color: var(--active-color);
}

.toggle-switch.toggled .toggle-circle {
    left: calc(100% - var(--input-height) + 5px);
}