@import url('./../../styles/App.css');

.button {
    margin: var(--xs-gap);
    padding: var(--xs-gap);
    box-shadow: var(--box-shadow-normal);
    background-color: var(--light-background-color);
    border: 1px solid transparent;
    box-sizing: var(--box-shadow-normal);
    transition: border var(--transition-duration), box-shadow var(--transition-duration);
}

.button:hover,
.select-button:hover {
    border: var(--border);
    box-shadow: var(--box-shadow-focused);
}

.button.active,
.select-button:hover {
    background-color: var(--active-color);
    transition: box-shadow var(--transition-duration);
    box-shadow: var(--box-shadow-focused);
}

.button.active .icon {
    filter: brightness(0) invert(1);
}

.button:focus {
    outline: none;
    box-shadow: var(--box-shadow-focused);
    transition: box-shadow var(--transition-duration);
}

.button-panel,
.statebar-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.statebar-panel {
    flex-direction: column;
}