@import url('../../styles/App.css');

.normal-icon,
.small-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    vertical-align: middle;
    fill: currentColor;
    /* This lets the icon inherit color from the parent */
}

.normal-icon {
    width: var(--normal-icon-size);
    height: var(--normal-icon-size);
}

.small-icon {
    width: var(--small-icon-size);
    height: var(--small-icon-size);
}